 body {background-color: #1f1f1e;
      color: #818b59;  
      font-family: Arial, Helvetica, sans-serif;}

h1, h2 { text-align: center;}

img { display: block;
    margin: 20px auto;       
    max-width: 200px;     
    border-radius: 20px;}  

ul { color: #0077cc; } 

